@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

    <table border="1">
        <tr>
         <th></th>
         <th>Functinalities</th>
        </tr>

         <tr>
         <th>01.</th>
         <th><a href="/Admin/AddPro">Add New Product</a></th>
        </tr>

        <tr>
         <th>02.</th>
         <th><a href="/Admin/BlockUsr">Block User</a></th>
        </tr>

        <tr>
         <th>03.</th>
         <th><a href="/Admin/UpdatePro">Update Product's Data</a></th>
        </tr>

    </table>