<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Web Store Theme - Checkout</title>
<meta name="keywords" content="web store, checkout, free ecommerce templates, store templates, CSS, HTML" />
<meta name="description" content="Web Store Theme, Checkout, free CSS template provided by templatemo.com" />
<link href="~/content/templatemo_style.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" type="text/css" href="~/content/ddsmoothmenu.css" />

<script type="text/javascript" src="~/script/jquery.min.js"></script>
<script type="text/javascript" src="~/script/ddsmoothmenu.js">

/***********************************************
* Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/

</script>

<script type="text/javascript">

ddsmoothmenu.init({
	mainmenuid: "templatemo_menu", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}
</script>

</head>

<body id="subpage">

<div id="templatemo_wrapper">
    <div id="site_title"><h1>Check Out</h1></div> <br />
    <div id="templatemo_menu" class="ddsmoothmenu">
        <ul>
            <li><a href="~/Home/Index">Home</a></li>
            <li><a href="~/Products/Products">Products</a></li>
            <li><a href="~/Home/About">About</a></li>
            <li><a href="~/Checkout/Checkout" class="selected">Checkout</a></li>
            <li><a href="~/Home/Contact">Contact</a></li>
        </ul>
        <br style="clear: left" />
    </div> <!-- end of templatemo_menu -->
    <div class="cleaner h20"></div>
    <div id="templatemo_main_top"></div>
    <div id="templatemo_main">
    	
       
        <div id="content">
       		<h2>Checkout</h2>
            <h5><strong>BILLING DETAILS</strong></h5>
            
            
            <div class="cleaner h50"></div>
            @{if(ViewBag.name == null ){
                  <h1>Sir, Kindly buy some items from our data.</h1>
            }
                else
                {
                <h1>Thank You For Visiting and Shopping At our Site.</h1>
            }
            }
               
		</div>
        <div class="cleaner"></div>
    </div> <!-- END of main -->    
</div>


<script type='text/javascript' src='~/script/logging.js'></script>
</body>
</html>