@model List<New.Models.Product>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Web Store - Products</title>
<meta name="keywords" content="web store, products, free templates, website templates, CSS, HTML" />
<meta name="description" content="Web Store, Products, free CSS template by templatemo.com" />
<link href="~/content/templatemo_style.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" type="text/css" href="~/content/ddsmoothmenu.css" />

<script type="text/javascript" src="~/scripts/jquery.min.js"></script>
<script type="text/javascript" src="~/scripts/ddsmoothmenu.js">

/***********************************************
* Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/

</script>

<script type="text/javascript">

    ddsmoothmenu.init({
        mainmenuid: "templatemo_menu", //menu DIV id
        orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
        classname: 'ddsmoothmenu', //class added to menu's outer DIV
        //customtheme: ["#1c5a80", "#18374a"],
        contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
    })

    function clearText(field) {
        if (field.defaultValue == field.value) field.value = '';
        else if (field.value == '') field.value = field.defaultValue;
    }
</script>

<link rel="stylesheet" type="text/css" href="~/content/styles.css" />
<script language="javascript" type="text/javascript" src="~/scripts/mootools-1.2.1-core.js"></script>
<script language="javascript" type="text/javascript" src="~/scripts/mootools-1.2-more.js"></script>
<script language="javascript" type="text/javascript" src="~/scripts/slideitmoo-1.1.js"></script>
<script language="javascript" type="text/javascript">
    window.addEvents({
        'domready': function () {
            /* thumbnails example , div containers */
            new SlideItMoo({
                overallContainer: 'SlideItMoo_outer',
                elementScrolled: 'SlideItMoo_inner',
                thumbsContainer: 'SlideItMoo_items',
                itemsVisible: 5,
                elemsSlide: 2,
                duration: 200,
                itemsSelector: '.SlideItMoo_element',
                itemWidth: 171,
                showControls: 1
            });
        },

    });
</script>

</head>

<body id="subpage">

<div id="templatemo_wrapper">
        <div id="site_title"><h1>Products</h1></div> <br />    
    <div id="templatemo_menu" class="ddsmoothmenu">
        <ul>
            <li><a href="~/Home/Index">Home</a></li>
            <li><a href="~/Products/Products" class="selected">Products</a></li>
            <li><a href="~/Home/About">About</a></li>
            <li><a href="~/Checkout/Checkout">Checkout</a></li>
            <li><a href="~/Home/Contact">Contact</a></li>
        </ul>
        <br style="clear: left" />
    </div> <!-- end of templatemo_menu -->
    
    <div class="cleaner h20"></div>
    <div id="templatemo_main_top">
         @if ( ViewBag.name != null ){
        <a href="~/Shoppingcart/Shoppingcart" >View Your Shopping Cart</a>
         }
    </div>
    <div id="templatemo_main">
                <div class="cleaner"></div>
            
        
        <div id="content">
        	<h2>All Products are given below:</h2>
            <br/>

            @foreach( var x in Model )
            {
                <div class="col col_14 product_gallery">
                    <a href="~/Products/ProductDetail/@x.Id">
                        <img src="@x.ImagePath" alt="Product 01" height="200px" width="200px" />
                    </a>
                    <h3></h3>
                    <p class="product_price">$ @x.Price</p>
                    @if (ViewBag.name != null){<a href="~/Shoppingcart/AddToShoppingCart/@x.Id" class="add_to_cart" onclick="alert('Item is added to Cart')">Add to Cart</a>}
                </div>
            }
            <a href="~/Home/Index" class="more float_r">Back to Home</a>
			<div class="cleaner h50"></div>
        </div> <!-- END of content -->
        <div class="cleaner"></div>
    </div> <!-- END of main -->
   
</div>


<script type='text/javascript' src='~/scripts/logging.js'></script>
</body>
</html>